
aiogram==3.4.1
aiohttp==3.9.5
aiofiles==23.2.1
aiosignal==1.4.0
yarl==1.20.1
multidict==6.6.3

annotated-types==0.7.0
attrs==25.3.0
typing_extensions==4.14.1

pydantic==2.5.3
pydantic_core==2.14.6

python-dotenv==1.1.1
telegramify-markdown==0.5.1
magic-filter==1.0.12

requests==2.31.0
urllib3==2.5.0
certifi==2025.7.14
charset-normalizer==3.4.2
idna==3.10
sentry-sdk==2.35.1
markdown==3.8.2
mistletoe==1.4.0

httpx==0.28.1       
tqdm==4.67.1
backoff==2.2.1

fastapi==0.116.1
uvicorn==0.35.0
starlette==0.47.2

click==8.2.1
colorama==0.4.6
