aiofiles==23.2.1
aiogram==3.4.1
aiohttp==3.9.5
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.10.0
argcomplete==1.10.3
attrs==25.3.0
backoff==2.2.1
beautifulsoup4==4.8.2
cerebras-cloud-sdk==1.46.0
certifi==2025.8.3
chardet==3.0.4
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
compressed-rtf==1.0.7
distro==1.9.0
docx2txt==0.9
dotenv==0.9.9
ebcdic==1.1.1
et_xmlfile==2.0.0
extract-msg==0.28.7
fastapi==0.116.1
ftfy==6.3.1
greenlet==3.2.4
groq==0.31.0
grpcio==1.74.0
h11==0.16.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
IMAPClient==2.1.0
jiter==0.10.0
lxml==6.0.0
magic-filter==1.0.12
Markdown==3.8.2
mem0ai==0.1.115
mistletoe==1.4.0
multidict==6.6.3
numpy==2.3.2
olefile==0.47
openai==1.99.5
openpyxl==3.1.5
pdfminer.six==20191110
pillow==11.3.0
portalocker==3.2.0
posthog==6.5.0
protobuf==6.31.1
propcache==0.3.2
pycryptodome==3.23.0
pydantic==2.5.3
pydantic_core==2.14.6
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-pptx==0.6.23
pytz==2025.2
pywin32==311
qdrant-client==1.15.1
requests==2.32.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
SpeechRecognition==3.8.1
SQLAlchemy==2.0.42
starlette==0.47.2
textract==1.6.5
tqdm==4.67.1
telegramify-markdown==0.5.1
typing_extensions==4.14.1
typing-inspection==0.4.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
uvicorn==0.35.0
wcwidth==0.2.13
xlrd==1.2.0
xlsxwriter==3.2.5
yarl==1.20.1
setuptools==65.5.0
pip==24.0
